src/assets/views/index.pug
extends base/index

block content
	div(ng-controller="mainController as vm" ng-cloak ng-app="webComics")
		md-toolbar.md-shade-1
				.md-toolbar-tools
					md-button.md-icon-button(
						aria-label='Back',
						ng-show="showComic",
						ng-click="vm.backToHome()"
					)
						i(class="material-icons" style='color: white;') keyboard_backspace
					h2(flex='', md-truncate='')
						span.blur(data-ng-show="showComic") {{nameBar}}
						img.blur(data-ng-hide="showComic" flex='' src="/assets/images/logo.svg", alt="")

					md-button.md-icon-button(aria-label='Favorite', ng-click="vm.goToFavorite()")
						i(
							class="material-icons",
							data-ng-style="favoritedCount ? { 'color': colorHeart } : { 'color': 'white' }",
						) favorite
		main(ui-view)

index.html
<!DOCTYPE html>
<!-- [if lt IE 7]><html lang="pt-br" class="no-js lt-ie9 lt-ie8 lt-ie7" class="no-js"> <![endif]-->
<!-- [if IE 7]><html lang="pt-br" class="no-js lt-ie9 lt-ie8" class="no-js"> <![endif]-->
<!-- [if IE 8]><html lang="pt-br" class="no-js lt-ie9" class="no-js"> <![endif]-->
<!-- [if gt IE 8]><!-->
<html class="no-js" lang="pt-br" ng-app="webComics"><!--<![endif]-->
  <head>
    <title>WEB COMICS</title>
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="UTF-8">
    <meta name="theme-color" content="#212121">
    <meta name="description" content="">
    <meta name="rating" content="Geral">
    <meta name="expires" content="never">
    <meta name="distribution" content="Global">
    <meta name="revisit-after" content="1 Day">
    <meta name="copyright" content="">
    <meta name="language" content="pt-BR">
    <base href="/">
    <link rel="icon" type="image/png" href="assets/images/icons/favicon.png">
    <link rel="preload" href="//fonts.gstatic.com/s/materialicons/v22/2fcrYFNaTjcS6g4U3t-Y5UEw0lE80llgEseQY3FEmqw.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700"><link rel="stylesheet" href="assets/stylesheets/app.min.css"/>
  </head>
  <body ng-cloak>
    <div ng-controller="mainController as vm" ng-cloak ng-app="webComics">
      <md-toolbar class="md-shade-1">
        <div class="md-toolbar-tools">
          <md-button class="md-icon-button" aria-label="Back" ng-show="showComic" ng-click="vm.backToHome()"><i class="material-icons" style="color: white;">keyboard_backspace</i></md-button>
          <h2 flex="" md-truncate=""><span class="blur" data-ng-show="showComic">{{nameBar}}</span><img class="blur" data-ng-hide="showComic" flex="" src="/assets/images/logo.svg" alt=""></h2>
          <md-button class="md-icon-button" aria-label="Favorite" ng-click="vm.goToFavorite()"><i class="material-icons" data-ng-style="favoritedCount ? { 'color': colorHeart } : { 'color': 'white' }">favorite</i></md-button>
        </div>
      </md-toolbar>
      <main ui-view></main>
    </div><script src="assets/javascripts/app.min.js"></script>
  </body>
</html>
