src/assets/views/partials/partial-item.pug
md-content.md-padding(layout-xs='column', layout='row', layout-wrap, class="header-colorize-base")
	div(
		class="fade-in",
		data-ng-hide="proccecing",
		layout='column',
		flex='100',
	)
		md-card(class="actions__wrapper-fixed")
			div.wrapper-card-image
				span.md-card-image(
					role="img", 
					data-ng-style="{'background-image':'url('+it.currentItem.thumbnail.path+'.'+it.currentItem.thumbnail.extension+')'}",
					alt='{{ it.currentItem.title }}'
				)
			div.btn-negative(layout="row", layout-align="end center" ng-cloak)

				md-fab-speed-dial(md-open='false', md-direction='left', class='md-fling')
					md-fab-trigger
						md-button.md-fab(aria-label='menu')
							md-icon
								i(class="material-icons") share
					md-fab-actions
						md-button.md-fab.md-raised.md-mini(aria-label='Twitter' target="_blank" data-ng-href="{{it.urlFacebook}}")
							md-icon(md-svg-src='assets/images/twitter.svg', aria-label='Twitter')
						md-button.md-fab.md-raised.md-mini(aria-label='Facebook' target="_blank" data-ng-href="{{it.urlTwitter}}")
							md-icon(md-svg-src='assets/images/facebook.svg', aria-label='Facebook')

				md-button.mv-0.md-fab(aria-label='Favorite', ng-click='it.toggleFromListFavorites(it.currentItem)')
					md-icon
						i(class="material-icons" data-ng-hide="it.currentItem.favorited") favorite
						i(class="material-icons" data-ng-show="it.currentItem.favorited") remove_circle
			div( layout='row', layout-xs="column" flex="100" )
				div(flex="65" flex-xs="100")
					md-card-title(layout-align='none', layout='column')
						md-card-title-text
							small.label-gray.md-caption TITLE
							span.md-display-1 {{ it.currentItem.title }}
						div.mt-1(data-ng-hide="!it.currentItem.description")
							small.label-gray.md-caption DESCRIPTION
							p.md-title.mt-0.pt-0(data-ng-bind-html='it.currentItem.description | html')
						div.mt-2(data-ng-hide="!it.currentItem.characters.available")
							small.label-gray.md-caption CHARACTERS
							md-list.fixedRows
								md-list-item.md-2-line.contact-item(ng-repeat='characters in it.currentItem.characters.items')
									img.md-avatar(ng-src='{{characters.photo}}', alt='{{characters.name}}')
									.md-list-item-text.compact
										h3 {{ characters.name }}
										p {{ characters.desc }}

				md-card-title( layout="column", flex="35", flex-xs="100" )
					div( data-ng-hide="!it.currentItem.creators.available")
						small.label-gray.md-caption CREATORES
						div(layout="column", data-ng-repeat="creator in it.currentItem.creators.items")
							p.md-title(layout='row' layout-align="right center") {{ creator.name }} -
								small.label-gray.md-caption(style="margin-left:5px")  {{ creator.role }}
							md-divider( data-ng-if="!$last")
div(layout="row" layout-sm="column" layout-align="space-around" data-ng-show="proccecing")
	md-progress-circular.md-padding(md-mode="indeterminate" )

partials/partial-item.html

<md-content class="md-padding header-colorize-base" layout-xs="column" layout="row" layout-wrap="layout-wrap">
  <div class="fade-in" data-ng-hide="proccecing" layout="column" flex="100">
    <md-card class="actions__wrapper-fixed">
      <div class="wrapper-card-image"><span class="md-card-image" role="img" data-ng-style="{'background-image':'url('+it.currentItem.thumbnail.path+'.'+it.currentItem.thumbnail.extension+')'}" alt="{{ it.currentItem.title }}"></span></div>
      <div class="btn-negative" layout="row" layout-align="end center" ng-cloak="ng-cloak">
        <md-fab-speed-dial class="md-fling" md-open="false" md-direction="left">
          <md-fab-trigger>
            <md-button class="md-fab" aria-label="menu">
              <md-icon><i class="material-icons">share</i></md-icon>
            </md-button>
          </md-fab-trigger>
          <md-fab-actions>
            <md-button class="md-fab md-raised md-mini" aria-label="Twitter" target="_blank" data-ng-href="{{it.urlFacebook}}">
              <md-icon md-svg-src="assets/images/twitter.svg" aria-label="Twitter"></md-icon>
            </md-button>
            <md-button class="md-fab md-raised md-mini" aria-label="Facebook" target="_blank" data-ng-href="{{it.urlTwitter}}">
              <md-icon md-svg-src="assets/images/facebook.svg" aria-label="Facebook"></md-icon>
            </md-button>
          </md-fab-actions>
        </md-fab-speed-dial>
        <md-button class="mv-0 md-fab" aria-label="Favorite" ng-click="it.toggleFromListFavorites(it.currentItem)">
          <md-icon><i class="material-icons" data-ng-hide="it.currentItem.favorited">favorite</i><i class="material-icons" data-ng-show="it.currentItem.favorited">remove_circle</i></md-icon>
        </md-button>
      </div>
      <div layout="row" layout-xs="column" flex="100">
        <div flex="65" flex-xs="100">
          <md-card-title layout-align="none" layout="column">
            <md-card-title-text><small class="label-gray md-caption">TITLE</small><span class="md-display-1">{{ it.currentItem.title }}</span></md-card-title-text>
            <div class="mt-1" data-ng-hide="!it.currentItem.description"><small class="label-gray md-caption">DESCRIPTION</small>
              <p class="md-title mt-0 pt-0" data-ng-bind-html="it.currentItem.description | html"></p>
            </div>
            <div class="mt-2" data-ng-hide="!it.currentItem.characters.available"><small class="label-gray md-caption">CHARACTERS</small>
              <md-list class="fixedRows">
                <md-list-item class="md-2-line contact-item" ng-repeat="characters in it.currentItem.characters.items"><img class="md-avatar" ng-src="{{characters.photo}}" alt="{{characters.name}}"/>
                  <div class="md-list-item-text compact">
                    <h3>{{ characters.name }}</h3>
                    <p>{{ characters.desc }}</p>
                  </div>
                </md-list-item>
              </md-list>
            </div>
          </md-card-title>
        </div>
        <md-card-title layout="column" flex="35" flex-xs="100">
          <div data-ng-hide="!it.currentItem.creators.available"><small class="label-gray md-caption">CREATORES</small>
            <div layout="column" data-ng-repeat="creator in it.currentItem.creators.items">
              <p class="md-title" layout="row" layout-align="right center">{{ creator.name }} -<small class="label-gray md-caption" style="margin-left:5px;"> {{ creator.role }}</small></p>
              <md-divider data-ng-if="!$last"></md-divider>
            </div>
          </div>
        </md-card-title>
      </div>
    </md-card>
  </div>
</md-content>
<div layout="row" layout-sm="column" layout-align="space-around" data-ng-show="proccecing">
  <md-progress-circular class="md-padding" md-mode="indeterminate"></md-progress-circular>
</div>
